In [1]:
import zstandard as zstd
from io import StringIO
import pandas as pd
import pathlib
import zipfile

In [15]:
Authors = pd.read_csv('23.Authors_disambiguated.csv.zip')
#columns dropped = class, org#memberOf, foaf_name, paperFamilyCount
Authors.drop(Authors.columns[[1,3,4,6]], axis=1,inplace=True)
Authors.columns = ['entity_id_A', 'rank_A', 'paperCount_A', 'citationCount_A']

print(Authors.shape)
Authors.head()

(151355324, 4)

   entity_id_A  rank_A  paperCount_A  citationCount_A
0   2726120351   21075             1                0
1   2621600318   21075             1                0
2   2511487617   20182             1               15
3   2547584944   20912             1                4
4   2799999052   20381             2                0

In [3]:
PAA = pd.read_csv('06.24.PaperAuthorAffiliations_Disambiguated.csv.zip')
#columns dropped = class, foaf_name, issn, foaf_homepage, paperFamilyCount, publisher
#PAA.drop(PAA.columns[[0,2,3,4,6,9]], axis=1,inplace=True)
#PAA.columns = ['rank_J', 'paperCount_J', 'citationCount_J', 'entity_id']

print(PAA.shape)
PAA.head()

(638211906, 2)

   entity_id  dcterms_creator
0          9        309252444
1         15       2267962435
2         15        680395887
3         23       3024436335
4         23       2582258949

In [ ]:
Paper0 = pd.read_csv('10.Papers_0.csv.zip', low_memory=False)

In [9]:
#Paper0 = pd.read_csv('10.Papers_0.csv.zip', low_memory=False)
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper0.drop(Paper0.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#Paper0.columns = ['entity_id', 'entity_type', 'appearsInJournal', 'rank_P', 'referenceCount_P',
#                  'appearsInConferenceInstance', 'citationCount_P']
Paper0.drop(Paper0.columns[[1,2,4,5,6]], axis=1,inplace=True)

Paper0.head()

   entity_id  rank_P
0       6320   24657
1      12040   27289
2      31860   27109
3      40690   27152
4      47840   23416

In [10]:
PAA1 = pd.merge(Paper0,PAA,how="left")

In [11]:
PAA1.shape

(63828591, 3)

In [13]:
PAA1.to_csv("PAA1.csv")

In [16]:
AuthMerg0 = pd.merge(PAA1,Authors,how="left",left_on="dcterms_creator",right_on="entity_id_A")

In [18]:
AuthMerg0.drop(AuthMerg0.columns[[1]], axis=1,inplace=True)
print(AuthMerg0.shape)
AuthMerg0.head()

(63828591, 6)

,entity_id,dcterms_creator,entity_id_A,rank_A,paperCount_A,citationCount_A
0,6320,2.700171e+09,2.700171e+09,21021.0,45.0,792.0
1,12040,2.274479e+09,2.274479e+09,21075.0,13.0,1.0
2,31860,2.341956e+09,2.341956e+09,21075.0,22.0,5.0
3,40690,2.212853e+09,2.212853e+09,21075.0,1.0,0.0
4,47840,2.151890e+09,2.151890e+09,14571.0,268.0,2701.0

In [22]:
AuthMerg = AuthMerg0[:20000000]

In [23]:
print(AuthMerg.shape)
AuthMerg.head()

(20000000, 6)

,entity_id,dcterms_creator,entity_id_A,rank_A,paperCount_A,citationCount_A
0,6320,2.700171e+09,2.700171e+09,21021.0,45.0,792.0
1,12040,2.274479e+09,2.274479e+09,21075.0,13.0,1.0
2,31860,2.341956e+09,2.341956e+09,21075.0,22.0,5.0
3,40690,2.212853e+09,2.212853e+09,21075.0,1.0,0.0
4,47840,2.151890e+09,2.151890e+09,14571.0,268.0,2701.0

In [24]:
AuthMerg.to_csv("AuthMerg.csv")