In [5]:
import zstandard as zstd
from io import StringIO
import pandas as pd
import pathlib
import zipfile

# PAPERS

In [6]:
Paper0 = pd.read_csv('10.Papers_0.csv.zip', low_memory=False)
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
Paper0.drop(Paper0.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
Paper0.columns = ['entity_id', 'entity_type', 'appearsInJournal', 'rank_P', 'referenceCount_P',
                  'appearsInConferenceInstance', 'citationCount_P']


Paper0.head()

,entity_id,entity_type,appearsInJournal,rank_P,referenceCount_P,appearsInConferenceInstance,citationCount_P
0,6320,NaN,NaN,24657,1,NaN,0
1,12040,NaN,NaN,27289,0,NaN,0
2,31860,NaN,NaN,27109,0,NaN,0
3,40690,NaN,NaN,27152,0,NaN,0
4,47840,JournalArticle,2.764474e+09,23416,0,NaN,1

In [ ]:
#Paper1 = pd.read_csv('10.Papers_1.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper1.drop(Paper1.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper1.head()

In [ ]:
#Paper2 = pd.read_csv('10.Papers_2.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper2.drop(Paper2.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper2.head()

In [ ]:
#Paper3 = pd.read_csv('10.Papers_3.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper3.drop(Paper3.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper3.head()

In [ ]:
#Paper4 = pd.read_csv('10.Papers_4.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper4.drop(Paper4.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper4.head()

In [ ]:
#Paper5 = pd.read_csv('10.Papers_5.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper5.drop(Paper5.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper5.head()

In [ ]:
#Paper6 = pd.read_csv('10.Papers_6.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper6.drop(Paper6.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper6.head()

In [ ]:
#Paper7 = pd.read_csv('10.Papers_7.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper7.drop(Paper7.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper7.head()

In [ ]:
#Paper8 = pd.read_csv('10.Papers_8.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper8.drop(Paper8.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper8.head()

In [ ]:
#Paper9 = pd.read_csv('10.Papers_9.csv.zip')
#columns dropped = class, estimatedCitationCount, familyId, appearsInConferenceInstance, dcterms_created, dcterms_title,
#                  dcterms_publisher, prism_issueIdentifier, prism_startingPage, prism_volume, prism_endingPage, 
#                  prism_publicationDate, dbo_publisher
#Paper9.drop(Paper9.columns[[1,5,7,8,11,12,13,14,15,16,17,18,19]], axis=1,inplace=True)
#
#Paper9.head()

# Field of Study Data

In [7]:
with zipfile.ZipFile("16.PaperFieldsOfStudy_0.csv.zip") as z:
   # open the csv file in the dataset
    with z.open("16.PaperFieldsOfStudy_0.csv") as f:       
      # read the dataset
        PF0 = pd.read_csv(f)
        
        
PF = pd.DataFrame(PF0)
#columns dropped = class, foaf_name, level, paperFamilyCount
#PF.drop(PF.columns[[1,2,4,5]], axis=1,inplace=True)
PF.columns = ['entity_id', 'entity_idF']

PF.head()

   entity_id  entity_idF
0   68443510    16674752
1   68443510   120766042
2   68443510   205649164
3   68443510   166957645
4   33762290    15744967

In [8]:
with zipfile.ZipFile("22.FieldOfStudyLabeled.csv.zip") as z:
   # open the csv file in the dataset
    with z.open("FieldOfStudyLabeled.csv") as f:       
      # read the dataset
        LF0 = pd.read_csv(f)
        
        
LF = pd.DataFrame(LF0)
#columns dropped = class, foaf_name, level, paperFamilyCount
#LF.drop(LF.columns[[1,2,4,5]], axis=1,inplace=True)
LF.columns = ['entity_idF', 'fos_list']
LF['fos_list'] = LF['fos_list'].str.extract(r"(.*?):")

LF.head()

   entity_idF   fos_list
0    95457728    History
1   127313418    Geology
2   162324750  Economics
3   205649164  Geography
4   185592680  Chemistry

In [10]:
with zipfile.ZipFile("15.FieldsOfStudy.csv.zip") as z:
   # open the csv file in the dataset
    with z.open("FieldsOfStudy.csv") as f:       
      # read the dataset
        FOS0 = pd.read_csv(f)
        
        
FOS = pd.DataFrame(FOS0)
#columns dropped = class, foaf_name, level, paperFamilyCount
FOS.drop(FOS.columns[[1,2,4,5]], axis=1,inplace=True)
FOS.columns = ['entity_id', 'rank_FOS', 'citationCount_FOS','paperCount_FOS']

FOS.head()

   entity_id  rank_FOS  citationCount_FOS  paperCount_FOS
0     417682     16830                515              97
1    1443462     15555               1079             407
2    1576492     13036              25902            1783
3    2657588     13756              14300             554
4    3079626      7771            7112619          437814

# Merge

In [9]:
def merge_fos(paper):
    PaperF0 = pd.merge(paper, PF, how="inner") #, left_on="entity_id", right_on="entity_id")
    FOSPAPER = pd.merge(PaperF0, LF, how="left")
    
    return FOSPAPER

In [10]:
FOSPAPER0 = merge_fos(Paper0)
#FOSPAPER1 = merge_fos(Paper1)
#FOSPAPER2 = merge_fos(Paper2)
#FOSPAPER3 = merge_fos(Paper3)
#FOSPAPER4 = merge_fos(Paper4)
#FOSPAPER5 = merge_fos(Paper5)
#FOSPAPER6 = merge_fos(Paper6)
#FOSPAPER7 = merge_fos(Paper7)
#FOSPAPER8 = merge_fos(Paper8)
#FOSPAPER9 = merge_fos(Paper9)

In [11]:
fields = ['Medicine', 'Biology', 'Geology', 'Environmental science',
       'Computer science', 'Materials science', 'Mathematics',
       'Engineering', 'Chemistry', 'Physics', 'Business', 'Economics',
       'Art', '-', 'Psychology', 'Philosophy', 'Geography', 'History',
       'Sociology', 'Political science']

# Separate

In [12]:
Medicine = pd.DataFrame()
Biology = pd.DataFrame()
Geology = pd.DataFrame()
Environmental_science = pd.DataFrame()
Computer_science = pd.DataFrame()
Materials_science = pd.DataFrame()
Mathematics = pd.DataFrame()
Engineering = pd.DataFrame()
Chemistry = pd.DataFrame()
Physics = pd.DataFrame()
Business = pd.DataFrame()
Economics = pd.DataFrame()
Art = pd.DataFrame()
Psychology = pd.DataFrame()
Philosophy = pd.DataFrame()
Geography = pd.DataFrame()
History = pd.DataFrame()
Sociology = pd.DataFrame()
Political_science = pd.DataFrame()

In [13]:
def subjects(paper):
    global Medicine,Biology,Geology,Environmental_science,Computer_science,Materials_science,Mathematics,Engineering,History,Chemistry,Physics,Business,Economics,Art,Psychology,Philosophy,Geography,Sociology,Political_science
    
    Medicine = pd.concat([Medicine, paper.get_group('Medicine')], axis=0, ignore_index=True)
    Biology = pd.concat([Biology, paper.get_group('Biology')], axis=0, ignore_index=True)
    Geology = pd.concat([Geology, paper.get_group('Geology')], axis=0, ignore_index=True)
    Environmental_science = pd.concat([Environmental_science, paper.get_group('Environmental science')], 
                                      axis=0, ignore_index=True)
    Computer_science = pd.concat([Computer_science, paper.get_group('Computer science')], axis=0, ignore_index=True)
    Materials_science = pd.concat([Materials_science, paper.get_group('Materials science')], axis=0, ignore_index=True)
    Mathematics = pd.concat([Mathematics, paper.get_group('Mathematics')], axis=0, ignore_index=True)
    Engineering = pd.concat([Engineering, paper.get_group('Engineering')], axis=0, ignore_index=True)
    Chemistry = pd.concat([Chemistry, paper.get_group('Chemistry')], axis=0, ignore_index=True)
    Physics = pd.concat([Physics, paper.get_group('Physics')], axis=0, ignore_index=True)
    Business = pd.concat([Business, paper.get_group('Business')], axis=0, ignore_index=True)
    Economics = pd.concat([Economics, paper.get_group('Economics')], axis=0, ignore_index=True)
    Art = pd.concat([Art, paper.get_group('Art')], axis=0, ignore_index=True)
    Psychology = pd.concat([Psychology, paper.get_group('Psychology')], axis=0, ignore_index=True)
    Philosophy = pd.concat([Philosophy, paper.get_group('Philosophy')], axis=0, ignore_index=True)
    History = pd.concat([History, paper.get_group('History')], axis=0, ignore_index=True)
    Geography = pd.concat([Geography, paper.get_group('Geography')], axis=0, ignore_index=True)
    Sociology = pd.concat([Sociology, paper.get_group('Sociology')], axis=0, ignore_index=True)
    Political_science = pd.concat([Political_science, paper.get_group('Political science')], axis=0, ignore_index=True)

In [14]:
result_df = FOSPAPER0.groupby('fos_list')

In [15]:
subjects(result_df)

In [16]:
dataframes = [Medicine,Biology,Geology,Environmental_science,Computer_science,Materials_science,Mathematics,Engineering,
              Chemistry,Physics,Business,Economics,Art,Psychology,Philosophy,History,Geography,Sociology,Political_science]

In [17]:
for df in dataframes:
    name =[x for x in globals() if globals()[x] is df][0]
    df = df[:10000]
    df.to_csv(f'{name}.csv', index=False)